<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
                xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>

</head>
<body>
    <!-- fragment 처리-->
    <div class="container" th:fragment="top-menu(title)">
        <div class="logo">
            <a href="../index.html" th:href="@{/}">
                <img src="../../static/images/board.png" th:src="@{/images/board.png}" alt="board">
            </a>
        </div>
        <h2>[[${title}]]</h2>
    </div>

</body>